.backgroundHeader {
    background-image: linear-gradient(
           rgba(87, 29, 2, 0.973),
            rgba(255, 255, 255, 0.219));
    height: 100%;
    width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}